<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Urban Harvest</title>

    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>

    <!-- Static navbar -->
    <div id="index-navbar" class="navbar-container" role="navigation">
        <div class="navbar-header justify-ends-layout">
			<a class="navbar-brand" href="index.html">URBAN HARVEST</a>
			<ul class="nav-links">
				<li class="nav-link"><a href="menu.html">MENU</a></li>
				<li class="nav-link"><a href="locations.html">LOCATIONS</a></li>
				<li class="nav-link"><a href="staff.html">OUR TEAM</a></li>
			</ul>
        </div>
        <div class="navbar-overlay center-content">
        	<div><h1 class="large-text white">WELCOME</h1></div>
        	<div><p class="gray">A casual dining experience in the heart of New York City</p></div>
        </div>
    </div>

    <div id="news" class="content ml mr">

	    <div class="spinner" v-if="!gristData">
	    	<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
	    </div>

		<div class="mb" v-for="post in gristData" v-show="gristData" style="display: none;">
			<h2>{{ post.Title }}</h2>
			<p class="gray">{{ new Date(post.Date * 1000).format('MM/DD/YY') }}</p>
			<p>{{ post.Content }}</p>
		</div>

	</div>

	<div id="footerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-4">
					<p><b>URBAN HARVEST - 2018</b></p>
				</div>

				<div class="col-lg-4">
					<p>(718) 555-1234</p>
				</div>
				<div class="col-lg-4">
					<p>contact@urbanharvestmail.com</p>
				</div>
			</div>
		</div>
	</div><!--/footerwrap -->

	<script src="date-format-lite.js"></script>
	<script src="basket-api.js"></script>
    <script src="util.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script>
    	loadDataUsingVue('Blog', 'news');
    </script>
	</body>
</html>
