<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>Urban Harvest</title>

    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>

    <!-- Static navbar -->
    <div id="locations-navbar" class="navbar-container" role="navigation">
        <div class="navbar-header justify-ends-layout">
			<a class="navbar-brand" href="index.html">URBAN HARVEST</a>
			<ul class="nav-links">
				<li class="nav-link"><a href="menu.html">MENU</a></li>
				<li class="nav-link active"><a href="locations.html">LOCATIONS</a></li>
				<li class="nav-link"><a href="staff.html">OUR TEAM</a></li>
			</ul>
        </div>
        <div class="navbar-overlay"></div>
    </div>

    <div id="locations" class="content">

	    <div class="spinner" v-if="!gristData">
	    	<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
	    </div>

	    <div class="three-col-layout" v-show="gristData" style="display: none;">
	    	<h1 class="title centered mb">Locations</h1>
			<div class="three-col-item" v-for="loc in gristData">
				<h4>{{ loc.Name }}</h4>
				<p>{{ loc.Address }}</p>
				<p>{{ loc.City }}, {{ loc.State }} {{ loc.Zip }}</p>
				<p>{{ loc.Phone }}</p>
				<p>Open {{ loc.Hours }} daily</p>
			</div>
		</div>

	</div>

	<div id="footerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-4">
					<p><b>URBAN HARVEST - 2017</b></p>
				</div>

				<div class="col-lg-4">
					<p>(718) 555-1234</p>
				</div>
				<div class="col-lg-4">
					<p>contact@urbanharvestmail.com</p>
				</div>
			</div>
		</div>
	</div><!--/footerwrap -->

    <script src="grist.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script>
    	grist.loadDataUsingVue('eDIYVPJCHS566', 'locations');
    </script>
  </body>
</html>
