<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Urban Harvest</title>

    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>

    <!-- Static navbar -->
    <div id="menu-navbar" class="navbar-container" role="navigation">
        <div class="navbar-header justify-ends-layout">
			<a class="navbar-brand" href="index.html">URBAN HARVEST</a>
			<ul class="nav-links">
				<li class="nav-link active"><a href="menu.html">MENU</a></li>
				<li class="nav-link"><a href="locations.html">LOCATIONS</a></li>
				<li class="nav-link"><a href="staff.html">OUR TEAM</a></li>
			</ul>
        </div>
        <div class="navbar-overlay"></div>
    </div>

    <div id="menu" class="content">

	    <div class="spinner" v-if="!gristData">
	    	<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
	    </div>

	    <div v-show="gristData" style="display: none;" >

			<!-- Appetizers -->
			<h1 class="mb centered">Appetizers</h1>
			<div id="appetizers" class="two-col-layout">
				<div class="mb two-col-item" v-for="row in gristData" v-if="row.Type == 'Appetizer'">
					<div class="justify-ends-layout">
						<h4>{{ row.Item }}</h4>
						<p>${{ row.Price }}</p>
					</div>
					<p class="gray">{{ row.Description }}</p>
				</div>
			</div>

			<!-- Entrees -->
			<h1 class="mb centered">Entrées</h1>
			<div id="appetizers" class="two-col-layout">
				<div class="mb two-col-item" v-for="row in gristData" v-if="row.Type == 'Entrée'">
					<div class="justify-ends-layout">
						<h4>{{ row.Item }}</h4>
						<p>${{ row.Price }}</p>
					</div>
					<p class="gray">{{ row.Description }}</p>
				</div>
			</div>

			<!-- Desserts -->
			<h1 class="mb centered">Desserts</h1>
			<div id="appetizers" class="two-col-layout">
				<div class="mb two-col-item" v-for="row in gristData" v-if="row.Type == 'Dessert'">
					<div class="justify-ends-layout">
						<h4>{{ row.Item }}</h4>
						<p>${{ row.Price }}</p>
					</div>
					<p class="gray">{{ row.Description }}</p>
				</div>
			</div>

		</div>

	</div>

	<div id="footerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-4">
					<p><b>URBAN HARVEST - 2017</b></p>
				</div>

				<div class="col-lg-4">
					<p>(718) 555-1234</p>
				</div>
				<div class="col-lg-4">
					<p>contact@urbanharvestmail.com</p>
				</div>
			</div>
		</div>
	</div><!--/footerwrap -->

    <script src="grist.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script>
    	grist.loadDataUsingVue('e6I4O2O6X88J4', 'menu');
    </script>
  </body>
</html>
