/*
 * Author: Carlos Alvarez
 * URL: http://Alvarez.is
 *
 * Project Name: NYC Design
 * Version: 1.0
 * Date: 04-20-2014
 * URL:
 */


/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.center-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.centered {
	text-align: center
}

.mt {
	margin-top: 80px;
}

.mb {
	margin-bottom: 40px;
}

.ml {
	margin-left: 40px;
}

.mr {
	margin-right: 40px;
}

/* ==========================================================================
   General styles
   ========================================================================== */

html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
    color: #4a4a4a;
    margin: 10px 0;
}

p {
	margin: 10px 0;
}

a {
	color: #5abfab;
	text-decoration-line: none;
}

.large-text {
	font-size: 3.4rem;
}

.navbar-brand {
	font-size: 1.4rem;
	padding: 15px;
	font-weight: 700;
}

.navbar-header {
	position: absolute;
	width: 100%;
}

.nav-links {

}

.nav-link {
	display: inline-block;
	padding: 5px 20px 5px 0;
	font-weight: 500;
}

.nav-link.active > a {
	color: rgba(90, 191, 171, .5);
}

.content {
	flex: 1 1 0;
	padding: 30px 0 50px 0;
}

.navbar-container {
	height: 200px;
	width: 100%;
	color: white;
}

#index-navbar {
	/* Marius Iordache - http://www.public-domain-image.com/public-domain-images-pictures-
	 	free-stock-photos/flora-plants-public-domain-images-pictures/vegetables-public-
	 	domain-images-pictures/pepper-pictures/fruits-vegetables-pepper.jpg */
	background: url("../img/Fruits_vegetables_pepper.jpg") no-repeat center bottom;
	height: 600px;
	background-size: cover;
}

#menu-navbar {
    /* Luca Nebuloni - https://www.flickr.com/photos/nebulux/7822721154/ */
	background: url("../img/Pad_Thai_(7822721154).jpg") no-repeat center bottom;
	background-size: cover;
}

#locations-navbar {
    /* NASA - http://spaceflight.nasa.gov/gallery/images/station/crew-35/html/iss035e008056.html */
	background: url(../img/ISS-35_New_York_City_metropolitan_area.jpg) no-repeat center bottom;
	background-size: cover;
}

#news-navbar {
    /* Rainer Zenz at the German language Wikipedia */
	background: url(../img/Pfeffer-Gewurz.jpg) no-repeat center bottom;
	background-size: cover;
}

.navbar-overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

#headerwrap {
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#headerwrap h4 {
	font-weight: 400;
	color: #ffffff
}

#footerwrap {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #2f2f2f;
}

#footerwrap p {
	color: #f2f2f2;
	margin-left: 10px;
}

.title {
	width: 100%;
}

.two-col-layout {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.two-col-item {
    width: 34%;
    margin-right: 8%;
    margin-left: 8%;
    min-width: 250px;
}

.three-col-layout {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.three-col-item {
    width: 24%;
    margin-right: 3%;
    margin-left: 3%;
    min-width: 200px;
}

.justify-ends-layout {
	display: flex;
	justify-content: space-between;
}

.white {
	color: white;
}

.gray {
	color: #AAA;
}

/*
   ==========================================================================
   Loading spinner style
   ==========================================================================

	The MIT License (MIT)

	Copyright (c) 2015 Tobias Ahlin

	Permission is hereby granted, free of charge, to any person obtaining a copy of
	this software and associated documentation files (the "Software"), to deal in
	the Software without restriction, including without limitation the rights to
	use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
	the Software, and to permit persons to whom the Software is furnished to do so,
	subject to the following conditions:

	The above copyright notice and this permission notice shall be included in all
	copies or substantial portions of the Software.

	THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
	IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
	FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
	COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
	IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
	CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
